body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    box-sizing: border-box;
    min-height: 100%;
}
#root{
    min-height: 100%;
}
html{
    height: 100%;
}
a{/**/
    color: inherit;
    text-decoration: none;
}
*{
    box-sizing: inherit;
}
code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Couier New', monospace;
}
main{
    height: auto;
    min-height: 100%;
    padding-bottom: 83.4px;
}
footer{
    position: relative;
    transform: translateY(-100%);
    height: 83.4px;
}